body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px; /* Aumentado para acomodar los gráficos */
}

h1 {
    text-align: center;
}

#results {
    margin-top: 20px;
}

.result-item {
    margin-bottom: 15px;
}

.result-item h2 {
    margin: 0 0 10px 0;
}

.result-item .percentage {
    font-size: 24px;
    color: #28a745;
}

/* Nuevos estilos para los gráficos */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; /* Espacio superior para separar del título */
}

.grafico {
    margin: 10px;
    max-width: 45%; /* Ajusta según sea necesario para lograr el tamaño deseado */
    box-sizing: border-box;
    border: 1px solid #ddd; /* Bordes para distinguir los gráficos */
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: auto;
    display: block;
}
